.container {
  display: flex;
  /* height: 100%; */
  /* width: 100vw; */
  overflow: hidden;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  width: 20%;
  /* height: 100%; */
  min-width: 285px;
  background-color: var(--light_purple);
  flex-shrink: 0;
}

.right {
  width: 80%;
  height: 100%;
  background-color: var(--white);
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.last_played {
  padding-left: 20px;
  margin-top: 40px;
  align-self: flex-start;
}
