.table {
  border-collapse: collapse;
}

.gameTileContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}

.gameTile {
  cursor: pointer;
}

.gameImageColumn {
  width: 20%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 40px;
}

.gameImage {
  width: 15em;
  height: 15em;
}

.gameNameColumn {
  width: 20%;
  /* margin-right: 100; */
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
}

.gameDescriptionColumn {
  width: 30%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
}

.lastGameImageColumn {
  width: 20%;
  padding-top: 10px;
}

.lastGameNameColumn {
  width: 20%;
  margin-right: 100;
  padding-top: 10px;
}

.lastGameDescriptionColumn {
  width: 30%;
  padding-top: 10px;
}

@media(max-width:550) {
  .gameImage {
    width: 10em;
    height: 10em;
  }
}