.featuredGames {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 0;
  max-height: 90vh;

}

.title {
  align-self: center;
  margin-bottom: 1vh;
}

.featuredGame {
  display: flex;
  justify-content: flex-start;
  max-width: 50rem;
  border: 2px solid black;
  margin-bottom: 0.2rem;
  border-radius: 3rem;
  padding: 0.5rem 0.5rem 1rem 2rem;
  align-items: center;
  background-color: var(--gray);
  font-size: larger;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
}

.image {
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
}

.gameName {
  width: 10rem;
}

.description {
  max-width: 20rem;
  margin-left: 2rem;
}

.featuredGame:hover {
  background-color: #FF808B;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}