.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 400px;
  min-height: 450px;
  position: absolute;
  height: 40%;
  right: 30%;
  bottom: 30%;
  justify-self: center;
  background-color: white;
  border-radius: 3%;
}
.word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 90%;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.backButton {
  align-self: flex-start;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: none;
  cursor: pointer;
  font-size: 2em;
  background-color: var(--pinkred);
  border-radius: 100px;
  border: 2px solid #000000;
  padding-left: 5%;
  padding-right: 5%;
}
