.container {
  overflow-y: hidden;
  display: flex;
  height: 92%;
  width: 100%;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./layered-waves-haikei.svg");
}

.containerPhone {
  overflow-y: hidden;
  display: flex;
  height: 105%;
  width: 100%;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./layered-waves-haikei.svg");
}

.top {
  display: flex;
  height: 60%;
  width: 100%;
  min-height: 300px;
}

.bottom {
  display: flex;
  height: 40%;
  margin-top: 9%;
}

.left {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.right {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.button {
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  background-color: var(--pinkred);
  border-radius: 100px;
  border: 2px solid #000000;
  padding-left: 5%;
  padding-right: 5%;
}

.paragraph {
  text-align: center;
  width: 70%;
}
