.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 15vh 2vw 15px 2vw;
  min-height: 100vh;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/blob-scene-haikei.svg");
  width: 100%;
  min-height: 100vh;
}

.bigContainer {
  display: flex;
  background-image: url("./blob-scatter-haikei\ \(4\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95vh;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-image: url("./blob-scatter-haikei\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 95vh;
}

.right {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-image: url("./blob-scatter-haikei\ \(3\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 95vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
