.container {
  display: flex;
  background-image: url("./blob-scatter-haikei\ \(4\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  height: 88vh;
  overflow: hidden;


}

.bigContainer {
  display: flex;
  background-image: url("./blob-scatter-haikei\ \(4\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95vh;
  align-items: center;




}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 95vh;
  background-image: url("./blob-scatter-haikei\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 95vh;
  transform: translate(0, -2%);
  overflow: hidden;
}

.right {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-image: url("./blob-scatter-haikei\ \(3\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translate(0, -7%);
  height: 95vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}