.carouselContainer {
  display: flex;
  flex-direction: column;
  width: 96%;
  background-color: var(--gray);
  height: 90%;
  min-height: 471px;
  max-width: 600px;
  border-radius: 3%;
}

.carouselContainerPhone {
  display: flex;
  flex-direction: column;
  width: 96%;
  background-color: var(--gray);
  height: 84%;
  border-radius: 3%;
}

.gameName {
  align-self: flex-start;
  margin-left: 3%;
}

.imageContainer {
  display: flex;
  width: 95%;
  align-items: center;
  flex-direction: column;
  margin-left: 2.5%;
  max-height: 375px;
}

.carousel {
  cursor: pointer;
}

.image {
  max-height: 422px;
  border-radius: 3%;
  max-height: 375px;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imageContainer:hover .image {
  opacity: 0.7;
}

.imageContainer:hover .middle {
  opacity: 0.9;
}

.imageContainer:hover .middlePhone {
  opacity: 0.9;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  height: 90%;
  width: 98%;
  transform: translate(-0%, -200%);
  text-align: center;
}

.middlePhone {
  transition: 0.5s ease;
  opacity: 0;
  height: 90%;
  width: 98%;
  transform: translate(-0%, -100%);
  text-align: center;
}
.text {
  background-color: var(--dark_purple);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5%;
}
