.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../about/blob-scene-haikei.svg");
}

.container {
  height: calc(100vh - 5.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signinBox {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 60vh;
  min-height: 500px;
  min-width: 300px;
  max-width: 447px;
  max-height: 510px;
  background-color: var(--gray);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}

.label {
  padding-left: 16%;
  padding-bottom: 3%;
  font-weight: 500;
  font-size: 100%;
}

.input {
  font-size: 15px;
  outline: none;
  margin-left: 16%;
  width: 65%;
  max-width: 291.82px;
  margin-bottom: 10%;
  background-color: var(--gray);
  border: none;
  border-bottom: 3px solid #000000;
}

.h1 {
  align-self: center;
  font-weight: 500;
  font-size: 60px;
}

.form {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  margin-left: 12%;
  margin-right: 8%;
  font-size: 80%;
  justify-content: space-between;
}

.button_container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 60%;
  height: 8%;
  margin-top: 10%;
}
