.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 15vh 2vw;
  min-height: 100vh;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/blob-scene-haikei.svg");
  width: 100%;
  min-height: 100vh;
}

.containerOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 5.5rem);
  align-self: center;
}

.containerInner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
  height: 100%;
  background-color: var(--gray);
  border-radius: 3%;
  margin-bottom: 2rem;
  overflow-y: auto;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
}

.form {
  border-radius: 3%;
  width: 60%;
}

.inputContainer {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding-bottom: 13px;
  padding-top: 8px;
  background: #fff;
  color: #000;
  border: 2px solid #000;
  border-left: none;
  min-width: 50px;
  text-align: center;
  font-size: 20px;
  height: 20px;
  background-image: url("./Webp.net-resizeimage.png");
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: var(white);
  border-radius: 0;
}

.input {
  width: 100%;
  height: 31px;
  font-size: 20px;
  padding: 5px;
  outline: none;
  border: 2px solid black;
  border-right: none;
  color: #000;
  border-radius: 0;
  background-color: var(white);
}

.gamesContainer {
  margin-top: 2%;
}
