.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 15vh 2vw;
  min-height: 100vh;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/blob-scene-haikei.svg");
  width: 100%;
  min-height: 100vh;
}

.textContainer {
  width: 90%;
  line-height: 1.6;
  overflow: auto;
  max-height: 40%;
  text-align: center;
  background-color: var(--gray);
  border-radius: 3%;
  padding: 3%;
}

.title {
  margin-bottom: 10%;
}

.titleBackground {
  color: white;
  display: flex;
  height: 25vh;
  font-size: 25px;
  align-self: center;
  align-items: center;
  justify-content: center;
  aspect-ratio: 900/600;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./blob-haikei.svg");
}
