.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.achievement_name {
  margin-bottom: 8px;
}
.achievement_container {
  width: 80%;
  margin-bottom: 20px;
}

.progress_bar_wrapper {
  width: 30%;
}

.progress_bar_label {
  color: black;
  margin-right: 8px;
}
