.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 950px;
  min-width: 100px;
}

.title {
  align-self: flex-start;
  margin-left: 5%;
  font-size: 1.2em;
}

.gameName {
  align-self: flex-start;
  margin-left: 5%;
}

.newestGame {
  display: flex;
  flex-direction: column;
  width: 96%;
  border-radius: 3%;
  background-color: var(--gray);
  align-items: center;
  height: 90%;
  min-height: 470px;
}

.newestGamePhone {
  display: flex;
  flex-direction: column;
  width: 96%;
  border-radius: 3%;
  background-color: var(--gray);
  align-items: center;
  height: 84%;
}

.imageContainer {
  display: flex;
  height: 100%;
  max-height: 375px;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.gameImage {
  height: 100%;
  max-height: 422px;
  width: 96%;
  border-radius: 3%;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}
.imageContainer:hover .gameImage {
  opacity: 0.7;
}

.imageContainer:hover .middle {
  opacity: 0.9;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  height: 90%;
  width: 95%;
  transform: translate(-0%, -100%);
  text-align: center;
  cursor: pointer;
}
.text {
  background-color: var(--dark_purple);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5%;
}
