.tab {
  cursor: pointer;
}

.tab_medium {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.game_title {
  display: flex;
  justify-content: center;
}

.tab_selected {
  border-bottom: 2px solid var(--dark_purple);
}
