.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.score_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.attributes_name {
  width: 10%;
  margin-top: 25px;
  margin-bottom: 7.5px;
}

.attributes_score {
  width: 10%;
  margin-top: 25px;
  margin-bottom: 7.5px;
}

.attributes_date {
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 7.5px;
}

.icon {
  background-color: var(--pink);
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 18px;
}

.line {
  align-self: center;
  width: 90%;
  /* margin-top: 0.5em; */
  margin-bottom: 0.5em;
  height: 1px;
  background-color: black;
}
