.container {
  /* overflow-y: scroll; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  border-radius: 18px;
  width: 15%;
  min-width: 273px;
  min-height: 400px;
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--gray);
  padding-right: 20px;
}

.attributes {
  margin-top: 25px;
  margin-bottom: 7.5px;
}

.icon {
  background-color: var(--pink);
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 18px;
}
