.webcamContainer {
  display: flex;
  background-color: var(--gray);
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-direction: column;
}

.webcam {
  display: none;
}

.canvas {
  margin-bottom: 2%;
  width: 90%;
  height: 82%;
}
